:root{
    --text-main-color : #1f1f1f;
    --bg-color : #fff;
    --link-color : #3498DB;
    --hover-color : #2ECC71;
}

/* [data-theme="dark"] {
  --text-main-color : #1f1f1f;
    --bg-color : #fff;
    --link-color : #3498DB;
    --hover-color : #2ECC71;
} */

*{
    box-sizing: border-box;
}

body{
    padding: 1rem;
}

h5{
    text-decoration: underline;
}

b{
    font-weight: bold;
}

a{
    text-decoration: none;
    text-transform: none;   
    color: var(--link-color);
}

i{
    font-size: 1.5rem;
}

a:hover{
    transition: all 0.3s;
    text-decoration: underline;
}

/* cv_header*/
img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
    margin-left: 2rem;
}

header{   
    padding: 1rem;
}

header p, header a {
    font-size: larger;
}

.cv_header{
    border-bottom: 1px solid black;
    padding: 1rem;
    display: flex;
    flex: 1;
}

.cv_header_title{    
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cv_header_title h2 {
    font-size: x-large;
}

.cv_header_title h1 {
    font-size: xx-large;
}

.cv_header_list{
    flex : 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size:x-large;
}

.cv_header_list i {
    margin-right: 1rem;
}

.header_profile{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
}

.header_profile_container{
    display: flex;
    gap: 1rem;
}

.description{
    border-bottom: 1px solid black;
    padding: 2rem 1rem;
    font-size: x-large;
    text-align: center;
}

.cv_header_link i {
    font-size: 2rem;
}

.header_nav{
    display: flex;
    flex-direction: column;
}
/* main_container */

.main_container_all{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

#home{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    align-items: stretch; /* aligne tout en haut */
    padding-left: 3rem;
}

.left_col,
.right_col {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* espace entre les blocs */
}

#home h3{
    font-size: xx-large;
    margin-bottom: 1rem;
    color: var(--link-color);
}

#home h4 {
    font-size: large;

}
#home strong{
    font-size: x-large;   
}

#home p {
    margin: 0.5rem;
}
#home ul {
    padding-left: 1rem;
}
#home li {    
    list-style:circle;
    margin: 1rem;
}

/*professional_experience*/
.nav{
    display: none;
}

.nav.open {
  display: flex;
  margin: auto;
}

.nav li{   
    margin: 2rem;
    font-size: 1.3rem;
    list-style: none;
}

#professional_experience{
    display: none;
}

.toggle_btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem 0;
}

.toggle_btn i {
  transition: transform 0.3s ease;
}

.toggle_btn.open i {
  transform: rotate(180deg);
  color: var(--link-color);
}
.toggle_btn.open{
    color: var(--link-color);  
}

.table_container{
    overflow-x: auto;   /* permet le scroll horizontal */
    -webkit-overflow-scrolling: touch; /* fluide sur mobile */
}

#exp_table {
  min-width: 800px;
  border-collapse: collapse;
  background-color: var(--bg-color);
  color: var(--text-main-color);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1rem;
}

#exp_table th {
    background-color: #3498DB10; 
    color: var(--text-main-color);
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    font-size: 1rem;
}

 #exp_table td {
    border-top: 1px solid #e1e1e1;
    padding: 1rem;
    vertical-align: top;
    font-size: 0.95rem;
}

/* Lignes alternées 
selectione les lignes impaires du tableau et les cellules de ces lignes
*/
#exp_table tr:nth-child(odd) td {
  background-color: #f5faff;
}

#exp_table ul {
  padding-left: 1.2rem;
  margin: 0;
}

#exp_table li {
  margin-bottom: 0.4rem;
  line-height: 1.3;
}

/* classe commune pour cacher le contenu de base*/
.toggle_content {
  display: none;
}

/* afficher avec l'ajout de la classe open*/
.toggle_content.open {
  display: block;
}

#exp_hard_skill, #exp_table, #exp_soft_skill, #skill, #dwwm, #mcdo, #soft_skill, #hard_skill{
    padding: 1rem;
}

/* #skill p, #dwwm p{
    font-size: 1.3rem;
    line-height: 1.3;
} */

#exp_hard_skill, #skill, #exp_soft_skill, #dwwm, #mcdo, #soft_skill, #hard_skill{
    font-size: 1.3rem;
    line-height: 1.3;
}

#exp_hard_skill p, #exp_soft_skill p, #dwwm p, #mcdo p, #soft_skill p, #hard_skill p{
    margin-bottom: 1rem;
}

#exp_hard_skill li, #exp_soft_skill li, #dwwm li, #mcdo li, #soft_skill li, #hard_skill li {
    list-style: inside;
    margin-left: 2rem;
    margin: 1rem 0;
}


#education, #soft_skill, #hard_skill{
    display: none;
}

/* 1200 1024 768 485 320 */
@media (max-width : 1024px){
    img, .header_profile i{
        display: none;
    }
    .description, .header_profile {
        font-size:medium;
    }
    .header_profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav li{   
        margin: 1rem;
        font-size: 1rem;
        list-style: none;
    }
    #exp_table th, #exp_table td {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (max-width : 768px){
    .cv_header{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .cv_header_link i{
        font-size: 1.5rem;
    }
    #home{
        grid-template-columns: 1fr;
    }
    .description {
        display: none;
    }
    .nav.open{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .nav li{   
        margin: 1rem;
        font-size: 0.8rem;
        list-style: none;
    }
    #exp_table th, #exp_table td {
        font-size: 0.6rem;
        padding: 0.3rem;
    }
    #exp_hard_skill, #skill, #exp_soft_skill, #dwwm, #mcdo, #soft_skill, #hard_skill{
        font-size: 1rem;
    }
    .toggle_btn{
        font-size: 1rem;
         margin: 1rem auto;
    }
}

@media(max-width : 485px){
    h1{
        text-align: center;
    }
    .main_container_all{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        margin: auto;
        padding: 1rem;
    }
    #exp_hard_skill, #skill, #exp_soft_skill, #dwwm, #mcdo, #soft_skill, #hard_skill{
        font-size: 0.8rem;
    }
    .toggle_btn{
        font-size: 0.8rem;
        margin: 1rem auto;
    }
}

@media(max-width : 320px){
    h1{
        text-align: center;
    }
    #exp_table th, #exp_table td {
        font-size: 0.6rem;
        padding: 0.2rem;
    }
    #exp_hard_skill, #skill, #exp_soft_skill, #dwwm, #mcdo, #soft_skill, #hard_skill{
        font-size: 0.6rem;
    }
    .toggle_btn{
        font-size: 0.8rem;
    }
    .cv_header_list{
        text-align: center;
        font-size: medium;
    }
     .description, .header_profile {
        font-size:small;
    }
    #home h3{
        font-size: x-large;
    }
    #home strong{
    font-size: large;   
}
}